.nav {
  grid-area: n;
  /*background-color: cornflowerblue;*/
  border-radius: 10px;
  height: 858px;
}

.item {
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

.item a {
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.item a:hover {
  background-color: rgb(38, 38, 38);
}

.item a.activeLink {
  text-decoration: none;
  margin: 20px 0 0 20px;
  background-color: rgb(38, 38, 38);
}
