.nav {
    grid-area: n;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.item {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.item.active {
  color: gold;
}