.dialogs {
  display: grid;
  grid-template-columns:  2fr 10fr;
}

.dialogsItems {
  margin: 20px;
  border-right: 1px solid #ffffff;
}

.dialogsItems .active {
  color: gold;
}

.dialog {
  color: white;
  font-size: 22px;
}

.messages {
  margin: 30px;
}

.message {
  font-size: 22px;
  color: white;
}

